#login-page {
    // Picasso is ready to draw :)

    .login-form {
        background: #FFF;
        padding: 1rem;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 8px 1px #dedede;
        width: 40%;
    }
}