footer {
    background: #000;
    padding: 1rem;
    margin-top: 1rem;
    // text-align: center;
    color: #eee;
    direction: ltr;

    a {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    #footer-social {
        text-align: left;

        @include socialIcons(30px);

        @include responsive((
            $mobile-device-width :(
                text-align: center,
            )
        ), max);
    }

    #crafted {
        .name {
            color: orange;
            font-weight: bold;
            margin-left: 0.5rem;
        }
    }
}